<div id="<%= dom_id cash_register %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= cash_register.name %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Status:</strong>
    <%= cash_register.status %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this register", cash_register, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to 'Edit this register', edit_cash_register_path(cash_register), class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
